<body style="background-color:whitesmoke;background-image: url(../../assets/bg7.jpg);
background-repeat: no-repeat;background-size: cover;width: 100%;">
<br><br>
<div class="modal-dialog" style="width: 500px;">
    <div class="modal-content" style="background-color:whitesmoke;background-image: url(../../assets/bg10.webp);background-repeat: no-repeat;background-size: cover;">
        <div class="modal-header text-center">
            <h4 class="modal-title" style="font-family: bold;font-size: xx-large;margin-left:170px;">Marksheet</h4>
        </div>
        <div *ngIf="success == true;then SUCC else FAIL"></div>
        <ng-template #SUCC><b style="color:green;text-align: center;font-size: x-large;">{{ message }}</b></ng-template>
        <ng-template #FAIL><b style="color:red;text-align: center;font-size: x-large;">{{ message }}</b></ng-template>

        <form>
        <div class="modal-body" style="padding: 10px;">
            <div class="form-group row">
                <div class="col-lg-1"></div>
                <label class="col-lg-3 form-control-label">Roll No<span style="color:Red">*</span></label>
                <div class="col-lg-6">
                    <input [(ngModel)]="form.rollNumber" name="rollNumber" placeholder="Enter Roll Number">
                    <span style="color:Red">{{ inputError.rollNumber }}</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-1"></div>
                <label class="col-lg-3 form-control-label">Name<span style="color:Red">*</span></label>
                <div class="col-lg-6">
                    <input [(ngModel)]="form.name" name="name" placeholder="Enter Your Name">
                    <span style="color:red">{{ inputError.name }}</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-1"></div>
                <label class="col-lg-3 form-control-label">Physics<span style="color:Red">*</span></label>
                <div class="col-lg-6">
                    <input [(ngModel)]="form.physics" name="physics" placeholder="Enter Physics Marks">
                    <span style="color:red">{{ inputError.physics }}</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-1"></div>
                <label class="col-lg-3 form-control-label">Chemistry<span style="color:Red">*</span></label>
                <div class="col-lg-6">
                    <input [(ngModel)]="form.chemistry" name="chemistry" placeholder="Enter Chemistry Marks">
                    <span style="color:red">{{ inputError.chemistry }}</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-1"></div>
                <label class="col-lg-3 form-control-label">Maths<span style="color:Red">*</span></label>
                <div class="col-lg-6">
                    <input [(ngModel)]="form.maths" name="maths" placeholder="Enter Maths Marks">
                    <span style="color:Red">{{ inputError.maths }}</span>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-3">
                    <button (click)="save()" type="submit" class="btn btn-success form-control">Save</button>
                </div>
                <div class="col-lg-3">
                    <button (click)="reset()" class="btn btn-primary form-control">Reset</button>
                </div>
            </div>

        </div>
        </form>

    </div>
</div>

</body>
