
<body style="background-color:whitesmoke;background-image: url(../../assets/bg7.jpg);
background-repeat: no-repeat;background-size: cover;width:100%;">
    <br><br>
    <div class="modal-dialog" style="width: 500px;">
        <div class="modal-content" style="background-color:whitesmoke;width: 520px;margin-left:-10px;
        background-image: url(../../assets/bg10.webp);background-repeat:no-repeat;background-size: cover;">
            <div class="modal-header text-center">
                <h4 class="modal-title" style="padding-left:190px;font-family:bold;font-size:xx-large;">Subject</h4>
            </div>
            <div *ngIf = "success == true; then SUCC else FAIL"></div>
            <ng-template #SUCC><b style="color:green;text-align: center;font-size: x-large;">{{ message }}</b></ng-template>
            <ng-template #FAIL><b style="color:red;text-align: center;font-size: x-large;">{{ message }}</b></ng-template>

            <form>
            <div class="modal-body"style="padding: 10px;">
                <div class="form-group row">
                    <div class="col-lg-1"></div>
                    <label class="col-lg-3 form-control-label">Name<span style="color:red">*</span></label>
                    <div class="col-lg-6">
                        <input [(ngModel)]="form.subjectName" name="subjectName" placeholder="Enter your Subject Name">
                        <span style="color:red">{{ inputError.subjectName }}</span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-1"></div>
                    <label class="col-lg-3 form-control-label">Description<span style="color:red">*</span></label>
                    <div class="col-lg-6">
                        <input [(ngModel)]="form.subjectDescription" name="subjectDescription" placeholder="Enter Subject Description">
                        <span style="color:red">{{ inputError.subjectDescription }}</span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-1"></div>
                    <label class="col-lg-3 form-control-label">Course<span style="color:Red">*</span></label>
                    <div class="col-lg-6">
                        <select [(ngModel)]="form.course_ID" name="course_ID" style="width: 203px;height:30px;">
                            <option *ngFor="let e of preloadData" value="{{ e.id }}">{{ e.courseName }}</option>
                        </select>
                        <span style="color:red">{{ inputError.course_ID }}</span>
                    </div>
                </div>
                
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-3">
                            <button (click)="save()" type="submit" class="btn btn-success form-control">Save</button>
                        </div>
                        <div class="col-lg-3">
                            <button (click)="reset()" type="submit" class="btn btn-primary form-control">Reset</button>
                        </div>
                    </div>
                </div>

            </div>
            </form>
        </div>
    </div>

</body>