
<body style="background-color:whitesmoke;background-image: url(../../assets/bg1.jpg);
background-repeat: no-repeat;background-size:cover;width:100%;">

<br><br>
<div class="modal-dialog" style="width: 500px;">
    <div class="modal-content" style="background-color:whitesmoke;width:520px;margin-left:-10px;
    background-image: url(../../assets/bg10.webp);background-repeat:no-repeat;background-size: cover;">
        <div class="modal-header">
            <h4 class="modal-title" style="padding-left:140px;font-family: bold;font-size:xx-large;">Forget Password</h4>
        </div>

        <div *ngIf="success == true;then SUCC else FAIL;"></div>
        <ng-template #SUCC><b style="color:green;margin-left:2%;font-size:x-large;">{{ message }}</b></ng-template>
        <ng-template #FAIL><b style="color:red;margin-left:25%;font-size:x-large;">{{ message }}</b></ng-template>

        <form>
        <div class="modal-body" style="padding: 10px;">
            <div class="form-group row">
                <div class="col-lg-1"></div>
                <label class="col-lg-3 form-control-label">Login Id<span style="color:Red">*</span></label>
                <div class="col-lg-6">
                    <input [(ngModel)]="form.login_id" name="login_id" placeholder="Enter Login Id"><br>
                    <span style="color:red">{{ inputError.login_id }}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-3">
                <button (click)="submit()" class="btn btn-success  form-control">Submit</button>
            </div>
        </div><br>
        </form>
    </div>

</div>

</body>
